<div class="footer-container sticky-bottom">
    <div class="f-socials c-item">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-square-linkedin"></i></a>
    </div>
    <div class="f-brand c-item"><i class="fa-regular fa-copyright"></i>WanderLust pvt limited</div>
    <div class="f-rules c-item">
        <a href="#">Privacy</a>
        <a href="#">Terms and Conditions</a>
    </div>
</div>