<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <h3 style="text-align: center; margin-top: 1rem;">SignUp for WanderLust</h3>
        <form class="row nt-3 g-3 needs-validation" method="post" action="/signup" novalidate>
            <div class="col-8 offset-2">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name='username' required>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>
            <div class="col-8 offset-2">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name='email' required>
            </div>
            <div class="col-8 offset-2">
                <label for="password" class="form-label">password</label>
                <input type="password" class="form-control" id="password" name='password' required>
            </div>
            <div class="col-md-6 offset-2">
                <button class="btn btn-danger" type="submit">SignUp</button>
            </div>
        </form>
    </body>