<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <div class="row justify-content-center g-4">
            <%  for(let listing of allListing){ %>
                <div class="col-md-4 col-sm-6 offset-0.5">
                    <a href="/show/<%= listing._id %>" class="index-listing">
                        <div class="card">
                            <img src="<%=listing.image.url %>" class="card-img-top img-fluid" alt="Listing-image">
                            <div class="card-img-overlay"></div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= listing.title %>
                                </h5>
                                <p class="card-text"> &#8377;
                                    <%=listing.price %>/Per Night.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <%  } %>

        </div>

    </body>